.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    & .header{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    & .main{
        grid-column-start: 1;
        grid-column-end: 4;   
    }
    & .main-content{
        &.news-list{
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }
    & .aside{
        grid-column-start: 4;
        grid-column-end: 5;
    }
    & .newsletter{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    & .footer{
        grid-column-start: 1;
        grid-column-end: 5;
    }
}